<!DOCTYPE html>
<html>

<head lang="en">
    <title><%%- title %%></title>
    <meta about="Search all content at once." />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="shortcut icon" type="image/png" href="https://platform.cloud.coveo.com/public/favicon/favicon.ico"/>

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://static.cloud.coveo.com/searchui/v2.3826/js/CoveoJsSearch.js"></script>
    <script src="https://static.cloud.coveo.com/searchui/v2.3826/js/templates/templatesNew.js"></script>
    <script src="coveo/js/insightPanel.bundle.js"></script>
    <script src="js/Coveo.<%= capitalizeCustomerSafeName %>AgentBox.js"></script>

    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.3826/css/CoveoFullSearch.css" />
    <link rel="stylesheet" href="coveo/css/insightPanel.style.css" />

    <%% include ../partials/agent-box/mock-context %>

    <style>
        /* To make things pretty locally :) */
        body {
          max-width: 400px;
          float: right;
          box-shadow: 1px 0 3px 4px #d7d7d7;
        }
    </style>

    <script>
        window.sforce = {} // needed to prevent to run the Agent search locally
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Coveo.SearchEndpoint.configureCloudV2Endpoint('<%%- config.coveo.org_id %>', '<%%- token %>', '<%%- config.coveo.rest_uri -%>');

            var searchInterfaceEl = document.getElementById('search');
            var custo = new Coveo.<%= capitalizeCustomerSafeName %>Custo(searchInterfaceEl);
            Coveo.options(searchInterfaceEl, Coveo._.extend(custo.getDefaultOptions(), { Analytics: { searchHub: '<%- config.coveo.searchHub %>' } }));

            Coveo.$(searchInterfaceEl).coveo('initInsightPanel');
        });
    </script>
</head>

<body>
    <%% include ../partials/agent-box/search-interface %>
</body>

</html>