<!DOCTYPE html>
<html>

<head>
  <title>Community Search</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">
  <% if (process.env.IS_DEV_SERVER) { %>
  <script type="application/javascript" src="js/CoveoJsSearch.Lazy.js"></script>
  <script src="js/Coveo.<%= capitalizeCustomerSafeName %>.js"></script>
  <% } else { %>
  <script type="application/javascript" src="js/CoveoJsSearch.Lazy.min.js"></script>
  <script src="js/Coveo.<%= capitalizeCustomerSafeName %>.min.js"></script>
  <% } %>
  <link rel="stylesheet" href="css/CoveoFullSearchNewDesign.css" />
  <link rel="stylesheet" href="css/CommunitySearch.<%= capitalizeCustomerSafeName %>.css" />

  <%% include ../partials/community-search/mock-context %>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureCloudV2Endpoint(
        '<%%- config.coveo.org_id %%>',
        '<%%- token %%>');

      var searchInterfaceEl = document.getElementById('search');
      var custo = new Coveo.<%= capitalizeCustomerSafeName %>Custo(searchInterfaceEl);
      Coveo.options(searchInterfaceEl, Coveo._.extend({}, custo.getDefaultOptions()));

      Coveo.init(searchInterfaceEl);

    })
  </script>
</head>

<body>
  <%% include ../partials/community-search/search-interface %>
</body>

</html>