<script>
  window['SalesforceContext'] = {
    fullPageUri: "/apex/coveov2__search",
    record: {
      user__usertype: "Standard",
      user__userroleid: "00E15000000EwO2EAK",
      user__username: "coveocrawlerintegration@coveo.com.dev03",
      user__userid: "0050R000000hnMRQAY",
      user__useremail: "tc-scadmins@dummy.com",
      user__name: "CoveoCrawlerIntegration User",
      user__locale: "en_US",
      user__language: "en_US",
      user__profile: "00e15000001H6OoAAK",
      user__lastname: "User",
      user__firstname: "CoveoCrawlerIntegration",
      support_product_version__c: null,
      symptoms_objectives__c: null,
      cause__c: null,
      environment__c: null,
      visitid__c: null,
      cabh__c: 0.04,
      cabh_indicator__c:
        '<img src="/resource/1454338417000/AR_Green_Icon" alt="Green" style="height:30px; width:30px;" border="0"/>',
      suggested_kb_article__c: null,
      survey_reference__c: null,
      survey_formula__c: '<a href=" " target="_blank"> </a>',
      survey_case__c: null,
      escalation_reason__c: null,
      discussion_group_id__c: null,
      support_product_name__c: "ProSystem fx Tax Efile",
      support_product_family_name__c: "Prosystem FX",
      indirect_arrival__c: null,
      case_queue__c: null,
      product_version__c: null,
      objectrouting__skills__c: null,
      objectrouting__originating_queue__c: null,
      legecy_created_date__c: null,
      legecy_closed_date__c: null,
      date_closed__c: null,
      created_date__c: "2018-05-10T16:00:32.000Z",
      case_internal_only__c: false,
      priority__c: null,
      escalation__c: null,
      case_number_external_id__c: null,
      wk_employee__c: null,
      support_taxform__c: null,
      support_product__c: "a051500000JqtxhAAB",
      support_product_reason__c: null,
      support_product_reason_classification__c: null,
      support_product_family__c: "a021500000FfgvKAAR",
      support_customer_interaction__c: null,
      support_category__c: "How To",
      sub_status__c: null,
      in_progress_time__c: null,
      case_age__c: 647,
      account_number__c: null,
      sub_status_2__c: null,
      sub_status_1__c: null,
      is_urgent__c: false,
      issue_summary__c: null,
      area__c: null,
      category__c: null,
      detail__c: null,
      reason__c: null,
      account_contact_relation__c: null,
      product__c: null,
      product_family__c: null,
      reference__c: null,
      place_on_hold__c: false,
      follow_up__c: null,
      cust_case_comment__c: null,
      cases__c: 1,
      reference_type__c: "Escalation/GSR",
      last_case_comment__c: null,
      resolution__c: null,
      creatorname: null,
      creatorsmallphotourl:
        "https://xxxxxxx--Dev03--c.cs94.content.force.com/profilephoto/005/T",
      creatorfullphotourl:
        "https://xxxxxxx--Dev03--c.cs94.content.force.com/profilephoto/005/F",
      milestonestatus: "",
      lastreferenceddate: "2018-06-06T14:52:13.000Z",
      lastvieweddate: "2018-06-06T14:52:13.000Z",
      systemmodstamp: "2018-05-11T10:37:48.000Z",
      lastmodifiedbyid: "0050R000000hnMRQAY",
      lastmodifieddate: "2018-05-10T16:02:52.000Z",
      createdbyid: "0050R000000hnMRQAY",
      createddate: "2018-05-10T16:00:32.000Z",
      stopstartdate: null,
      isstopped: false,
      slaexitdate: null,
      slastartdate: null,
      isselfserviceclosed: false,
      isclosedoncreate: false,
      ownerid: "0050R000000hnMRQAY",
      hasselfservicecomments: false,
      hascommentsunreadbyowner: false,
      isescalated: false,
      closeddate: null,
      isclosed: false,
      description: "dummy case",
      priority: "Minimal Business Impact",
      subject: "test case 2",
      isvisibleinselfservice: true,
      origin: "Phone-Inbound",
      reason: null,
      status: "In Progress",
      recordtypeid: "01215000001URKVAA4",
      type: null,
      suppliedcompany: null,
      suppliedphone: null,
      suppliedemail: null,
      suppliedname: null,
      parentid: null,
      businesshoursid: "01m15000000934KAAQ",
      communityid: null,
      feeditemid: null,
      questionid: null,
      entitlementid: null,
      productid: null,
      assetid: null,
      accountid: null,
      contactid: null,
      casenumber: "11840695",
      isdeleted: false,
      id: "5000R000001rO6uQAE"
    },
    type: "case",
    knowledgeArticleInfos: {
      types: [
        { type: "qa_article_type__kav", label: "QA Article Type" },
        { type: "how_to_s_article_type__kav", label: "How To Article Type" },
        {
          type: "problem_resolution_article_type__kav",
          label: "Problem Resolution Article Type"
        },
        {
          type: "documentation_article_type__kav",
          label: "Documentation Article Type"
        },
        { type: "wkarticletype__kav", label: "WK Article Type" }
      ],
      isKnowledgeEnabled: true
    }
  };

  Coveo.context = window.salesforceContext.record;

  var attachToCaseEndpoint = {
    attachToCase: function (data, callback) {
      console.log("attachToCase function called");
    },
    detachFromCase: function (uriHash, sfkbid, callback) {
      console.log("detachFromCase function called");
    },
    data: {
      "succeeded": true,
      "message": null,
      "attachedResults": ["gCzVz/aNhj7g491T"]
    },
    caseId: "50060000003HaltAAC"
  }
</script>